# Logs
logs
*.log
npm-debug.log*

# Dependency directories
frontend/node_modules/
backend/node_modules/

# Build outputs
frontend/dist/
backend/build/

# Environment variables
frontend/.env
backend/.env

# IDE-specific files
.vscode/